{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript" src="./htmx.js"></script>
    <link rel="stylesheet" href="./main.css">
</head>

<body class="p-2 max-w-6xl m-auto xl:shadow-xl xl:shadow-gray-400 xl:min-h-[100vh]">

    <details open>
        <summary> <h1> Tasks: </h1> </summary>
        <header class="grid grid-cols-[1fr_0fr]">
            <div class="flex gap-2">
                <button id="btn_reload_tasks" title="Reload Tasks" hx-get="/tasks" hx-target="#task-list"
                    class="btn text-[1.5rem]">&#10226;</button>

                <button onclick=" taskAddFrm.classList.toggle('expand-open'); "
                    class="btn text-[1.5rem]">&#10010;</button>

            </div>
        </header>

        <section id="tasks-section">

            <div id="taskAddFrm" class="expand-frame mb-4" style="--transition-time: .25s">
                <form hx-post="/task" hx-target="#task-list" hx-swap="outerHTML"
                    hx-on::xhr:loadend="this.taskname.value=''" class="expand-content grid grid-cols-[1fr_0fr] gap-1">
                    <input type="text" name="taskname" id="inp_new_task_text" />
                    <button class="btn text-nowrap" type="submit"> + add to list</button>
                </form>
            </div>

            {{ template "task_list_section" .Tasks }}

        </section>
    </details>

    <details class="mt-4">

        <summary><h1>Times</h1></summary>

        <section id="times-section">
            {{ template "times_list_label" .Label }}

            <div class="grid grid-cols-[1fr_0fr] mt-12">


                <span class="text-nowrap gap-4 flex">

                    <button class="btn inline-block group-hover:bg-white" hx-delete="/timer" hx-swap="none"
                        hx-select-oob="#times-label,#times-list-section,#task-list">stop Timer</button>
                    <button hx-get="/times" hx-swap="none" hx-select-oob="#times-label,#times-list-section"
                        id="btn_show_all_times" class="btn w-fit justify-self-end">all Tasks</button>

                    <button hx-get="/times/sum" hx-swap="none" hx-select-oob="#times-label, #times-list-section"
                        hx-trigger="click" id="btn_times_sum" class="btn w-fit justify-self-end">all &sum;</button>
                </span>
            </div>

            {{ template "times_list_section" .Times }}

        </section>
    </details>
</body>

</html>
{{ end }}


{{ block "task_list_section" . }}
<div id="task-list">
    {{ range . }}
    {{ template "task_list_entry" . }}
    {{ end }}
</div>
{{ end }}


{{ block "task_list_entry" . }}
<div id="task-entry-{{ .Id }}" class="
    border-b border-b-gray-300
    px-2 py-1
    grid grid-cols-[1fr_0fr] items-end
    group hover:bg-gray-300">
    <a href="#" id="show_task_{{ .Id }}" hx-get="/times/{{ .Id }}" hx-swap="none"
        hx-select-oob="#times-label,#times-list-section">{{ .Name }}</a>

    <span class="text-nowrap">
        <button class="btn btn-table-row-option" hx-confirm="Do you want to delete this task and all its times?"
            hx-delete="/task/{{ .Id }}" hx-target="#task-entry-{{ .Id }}" hx-swap="delete"
            hx-select-oob="#times-label,#times-list-section">&times;</button>

        <button class="btn btn-table-row-option" hx-get="/times/sum/{{ .Id }}"
            hx-select-oob="#times-label,#times-list-section" hx-swap="none">&sum;</button>

        {{ if .Active }}
        <button id="tasks-{{ .Id }}-timerbtn" class="btn btn-table-row-option font-[initial]"
            hx-delete="/timer/{{ .Id }}" hx-swap="none"
            hx-select-oob="#times-label,#times-list-section,#task-list">&#x23F9;</button>
        {{ else }}
        <button id="tasks-{{ .Id }}-timerbtn" class="btn btn-table-row-option font-[initial]" hx-post="/timer/{{ .Id }}"
            hx-swap="none" hx-select-oob="#times-label,#times-list-section,#task-list">&#x23F5</button>
        {{ end }}

    </span>
</div>
{{ end }}


{{ block "times_list_label" . }}
<h1 id="times-label">
    {{ if . }}
    for Task: {{ . }}
    {{ end }}
</h1>
{{ end }}

{{ block "times_sum_label" . }}
<h1 id="times-label">
    Durations:
</h1>
{{ end }}

{{ block "times_sum_section" . }}
<div id="times-list-section" class=" mt-4 px-2 py-1 ">

    <div id="times-sum-headers" class="
        grid grid-cols-[10%_90%]
        mt-4 py-1 px-2
        group bg-gray-300
        ">
        <b>Task</b> <b class="m-auto">Duration</b>
    </div>

    {{ range . }}
    <div class="times-sum-entry
        grid grid-cols-[10%_90%]
        mt-4 py-1 px-2
        group hover:bg-gray-300
    ">

        <span class="time-taskname font-bold  mb-2">
            {{ .Name }}:
        </span>

        <span class="time-duration m-auto">
            {{ .Total }}
        </span>

    </div>
    {{ end }}


</div>
{{ end }}

{{ block "times_list_section" . }}
<div id="times-list-section" class=" mt-4 px-2 py-1 ">

    <!-- headers -->
    <div id="times-entry-headers" class="
        hidden
        md:grid md:grid-cols-[20%_25%_25%_18%_12%]
        mt-4 py-1 px-2
        group bg-gray-300
    ">
        <b>Task</b>
        <b class="m-auto">Start</b>
        <b class="m-auto">End</b>
        <b class="m-auto">Duration</b>
        <b>&nbsp;</b>
    </div>

    {{ range . }}
    <div id="times-entry-{{ .Id }}" class="
        grid grid-cols-1 sm:grid-cols-2 md:grid-cols-[20%_25%_25%_18%_12%]
        mt-4 py-1 px-2
        group hover:bg-gray-300
        ">
        <span class="sm:col-span-2  md:col-span-1 time-taskname font-bold md:font-normal mb-2 md:mb-0"
            hx-get="/times/{{ .Id }}" hx-target="#times-section"> {{ .TaskName }}</span>
        <span class="time-starttime md:m-auto"><b class="md:hidden">Start:</b> {{ .Start }}</span>
        <span class="time-endtime md:m-auto"><b class="md:hidden">End:</b> {{ .End }}</span>
        <span class="time-duration md:m-auto">{{ if .Duration }}<b class="md:hidden">Duration:</b> {{ .Duration }}{{ end
            }}</span>

        <span class="text-right">
            <button class="btn group-hover:bg-white w-[12mm]"
                hx-get="/time/edit/{{ .Id }}"
                hx-target="#times-entry-{{ .Id }}"
                hx-swap="outerHTML"
            > edit </button>
            <button class="btn aspect-square group-hover:bg-white w-[12mm]"
                hx-delete="/time/{{ .Id }}"
                hx-confirm="Do you want to delete this time?"
                hx-target="#times-entry-{{ .Id }}"
                hx-swap="delete"
            >&times;</button>
        </span>
    </div>
    {{ end }}

</div>
{{ end }}

{{ block "time_edit_row" . }}
    <form id="times-entry-{{ .Id }}" class="
        grid grid-cols-1 sm:grid-cols-2 md:grid-cols-[20%_25%_25%_18%_12%]
        mt-4 py-1 px-2
        group hover:bg-gray-300"
        hx-post="/time/edit/{{ .Id }}"
        hx-swap="outerHTML"
    >
        <span class="sm:col-span-2  md:col-span-1 time-taskname font-bold md:font-normal mb-2 md:mb-0"
            hx-get="/times/{{ .Id }}" hx-target="#times-section">
            {{ .Task }}
        </span>

        <span class="time-starttime md:m-auto">
            <b class="md:hidden">Start:</b>
            <input type="date" name="startdate" value="{{ .StartDate }}" />
            <input type="time" name="starttime" value="{{ .StartTime }}" />
        </span>

        <span class="time-endtime md:m-auto">
            <b class="md:hidden">End:</b>
            <input type="date" name="enddate" value="{{ .EndDate }}" />
            <input type="time" name="endtime" value="{{ .EndTime }}" />
        </span>

        <span class="time-duration md:m-auto">
            {{ if .Duration }}
                <b class="md:hidden">Duration:</b> {{ .Duration }}
            {{ end }}
        </span>

        <span class="text-right">
            <button class="btn group-hover:bg-white w-[12mm]"
                type="submit"
                name="save"
                value="save"
            >Save</button>
        </span>
    </form>
{{ end }}
