{{ block "task_list_entry" . }}
<div id="task-entry-{{ .Id }}" class="
    border-b border-b-gray-300
    px-2 py-1
    grid grid-cols-[1fr_0fr] items-end
    group hover:bg-gray-300">
    <a href="#" id="show_task_{{ .Id }}" hx-get="/times/{{ .Id }}" hx-swap="none"
        hx-select-oob="#times-label,#times-list-section">{{ .Name }}</a>

    <span class="text-nowrap">
        <button class="btn btn-table-row-option" hx-confirm="Do you want to delete this task and all its times?"
            hx-delete="/task/{{ .Id }}" hx-target="#task-entry-{{ .Id }}" hx-swap="delete"
            hx-select-oob="#times-label,#times-list-section">&times;</button>

        <button class="btn btn-table-row-option" hx-get="/times/sum/{{ .Id }}"
            hx-select-oob="#times-label,#times-list-section" hx-swap="none">&sum;</button>

        {{ if .Active }}
            <button id="tasks-{{ .Id }}-timerbtn" class="btn btn-table-row-option font-[initial]"
                hx-delete="/timer/{{ .Id }}" hx-swap="none"
                hx-select-oob="#times-label,#times-list-section,#task-list">&#x23F9;</button>
        {{ else }}
            <button id="tasks-{{ .Id }}-timerbtn" class="btn btn-table-row-option font-[initial]" hx-post="/timer/{{ .Id }}"
                hx-swap="none" hx-select-oob="#times-label,#times-list-section,#task-list">&#x23F5</button>
        {{ end }}

    </span>
</div>
{{ end }}


{{ block "task_list_section" . }}
<div id="task-list">
    <form
        hx-get="/tasks"
        hx-target="#task-list"
        hx-swap="outerHTML"
        hx-trigger="submit, keyup delay:300ms"
        hx-on::afterSwap="document.querySelector('#task_search_field').focus()"
        class="default-grid grid-cols-[1fr,_0fr] mb-4"
    >
        <input type="text" name="task_search" id="task_search_field" value="{{ .Search }}" />
        <button type="submit" class="btn">&#x1f50e;</button>
    </form>

    {{ range .Tasks }}
        {{ template "task_list_entry" . }}
    {{ end }}

</div>
{{ end }}
