{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <script type="text/javascript" src="./htmx.js" ></script>
        <link rel="stylesheet" href="./main.css" >
        <script>
            window.addEventListener("load", () => {
                htmx.trigger("#btn_show_all_times", "click");
            })

            function reloadTasks() {
                htmx.trigger("#btn_show_all_times", "click"); 
                htmx.trigger("#btn_reload_tasks", "click"); 
            }
        </script>
    </head>

   <body class="p-2">
        <button 
            id="btn_reload_tasks"
            hx-get="/tasks" 
            hx-target="#task-list" 
            hx-trigger="load, click"
        >Reload Tasks</button>

        <section id="tasks-section">
            <h1>Tasks:</h1>

            <form hx-post="/task" hx-target="#task-list" hx-swap="beforeend">
                <input type="text" name="taskname" />
                <button type="submit"> + add to list</button>
            </form>

            <div id="task-list">
                Loading tasks ...

            </div>
        </section>

        {{ template "times_section" }}
   </body>
</html>
{{ end }}


{{ block "task_list" . }}
<div id="task-entry-{{ .Id }}" class="
    border-b border-b-gray-300 
    px-2 py-1 
    grid grid-cols-[1fr_0fr] items-end 
    group hover:bg-gray-300">
        <a href="#" 
            hx-get="/times/{{ .Id }}"
            hx-target="#times-section"
            hx-swap="outerHTML"
        >{{ .Name }}</a>
        <span class="text-nowrap">
            <button 
                class="inline-block group-hover:bg-white aspect-square w-[15mm]"
                hx-delete="/task/{{ .Id }}"
                hx-confirm="Do you want to delete this task and all its times?"
                hx-target="#task-entry-{{ .Id }}"
                hx-swap="delete"
            >&times;</button>

            {{ if .Active }}
                <button 
                    class="inline-block group-hover:bg-white aspect-square w-[15mm] font-[initial]"
                    hx-delete="/timer/{{ .Id }}"
                    hx-on::after-request="reloadTasks()"
                >&#x23F9;</button>
            {{ else }}
                <button 
                    class="inline-block group-hover:bg-white aspect-square w-[15mm] font-[initial]"
                    hx-post="/timer/{{ .Id }}"
                    hx-on::after-request="reloadTasks()"
                >&#x23F5</button>
            {{ end }}
        </span>
    </div>
{{ end }}



{{ block "times_section" . }}
    <section id="times-section" class="
        mt-4 px-2 py-1
    ">
        <div class="
            grid grid-cols-[1fr_0fr] 
            mt-12
        ">
            <h1>
                {{ if .Label }}
                    Times for Task: {{ .Label }}
                {{ else }}
                    Times:
                {{ end }}
            </h1>

            <span class="text-nowrap gap-7 flex">
            <button 
                class="inline-block group-hover:bg-white"
                hx-delete="/timer"
                hx-on::after-request="reloadTasks()"
            >stop any timer</button>
            <button 
                hx-get="/times" 
                hx-target="#times-section"
                hx-swap="outerHTML"
                hx-trigger="click"
                id="btn_show_all_times"
                class="w-fit justify-self-end"
            >all</button>
            </span>
        </div>

        <!-- headers -->
        <div id="times-entry-headers" class="
            hidden
            md:grid md:grid-cols-[20%_25%_25%_18%_12%]
            mt-4 py-1 px-2
            group bg-gray-300
        ">
            <b>Task</b>
            <b class="m-auto">Start</b>
            <b class="m-auto">End</b>
            <b class="m-auto">Duration</b>
            <b>&nbsp;</b>
        </div>

    {{ range .Times }}
        
        {{ template "times_entry" . }} 

    {{ end }}


    </section>
{{ end }}


{{ block "times_entry" . }}
    <div id="times-entry-{{ .Id }}" class="
        grid grid-cols-1 sm:grid-cols-2 md:grid-cols-[20%_25%_25%_18%_12%] 
        mt-4 py-1 px-2
        group hover:bg-gray-300
    ">
        <span class="sm:col-span-2  md:col-span-1 time-taskname font-bold md:font-normal mb-2 md:mb-0">{{ .TaskName }}</span>
        <span class="time-starttime md:m-auto"><b class="md:hidden">Start:</b> {{ .Start }}</span>
        <span class="time-endtime md:m-auto"><b class="md:hidden">End:</b> {{ .End }}</span>
        <span class="time-duration md:m-auto">{{ if .Duration }}<b class="md:hidden">Duration:</b> {{ .Duration }}{{ end }}</span>

        <span class="text-right">
            <button 
                class="aspect-square group-hover:bg-white"
                hx-delete="/time/{{ .Id }}"
                hx-confirm="Do you want to delete this time?"
                hx-target="#times-entry-{{ .Id }}"
                hx-swap="delete"
            >&times;</button>
        </span>
    </div>
{{ end }}
